<kt-portlet>
	<kt-portlet-body>
		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1"
			data-ktwizard-state="step-first">
			<div>
				<div class="pl-4">
						<h4>Profile information</h4>
					<div style="color:#999;font-size:0.9rem;text-align:left">Keep this information current. It is used
						throughout the application for your colleagues and candidates to recognize and reach out to you
						whenever they need to.</div><br>
				</div>
				<div class="pl-4 mt-4 mb-4">
					<input type="file" accept="image/*" style="cursor:pointer"><br><br>
					<a class="button danger-btn" href="#">Change</a>
				</div>
				<div class="row">
					<div class="w-50 pr-5 pl-5">
						<mat-form-field class="example-full-width">
							<input matInput spellcheck="false" placeholder="First name">
						</mat-form-field>
					</div>
					<div class="w-50 pr-5 pl-5">
						<mat-form-field class="example-full-width">
							<input matInput spellcheck="false" placeholder="Last name">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="w-50 pr-5 pl-5">
						<mat-form-field class="example-full-width">
							<input matInput spellcheck="false" placeholder="Email Id">
						</mat-form-field>
					</div>
					<div class="w-50 pr-5 pl-5">
						<mat-form-field class="example-full-width">
							<input matInput spellcheck="false" placeholder="Mobile number">
						</mat-form-field>
					</div>

				</div>
				<div class="row">
					<div class="w-50 pr-5 pl-5">
						<mat-form-field class="example-full-width">
							<input matInput spellcheck="false" placeholder="Job title">
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
