<!-- Types of engagement start -->
<h3 class="type text-black">Types</h3>
<hr>
<div class="container-fluid">
    <div class="row menuIcon">
        <div class="col-3">
            <i class="text-black fas fa-video"></i>
            <p>Videos</p>
        </div>
        <div class="col-3">
            <i class="text-black fas fa-list-ul" (click)="formQuizze()"></i>
            <p class="ml-1">Forms/Quizzes</p>
        </div>
        <div class="col-3">
            <img src="/assets/media/calendar-with-spring-binder-and-date-blocks.svg" alt="">
            <p>Scheduling</p>
        </div>
        <div class="col-3">
            <i class="text-black fas fa-graduation-cap"></i>
            <p class="ml-5">Traning</p>
        </div>
        <div class="col-3">
            <i class="text-black fas fa-envelope-square" (click)="emailList()"></i>
            <p>Emails</p>
        </div>
    </div>
</div>
<!-- Types of engagement end -->