.menuIcon i {
  font-size: 120px;
  cursor: pointer;
}
.text-black {
  color: black !important;
}
.menuIcon p {
  font-weight: 400;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  margin-top: 10px;
}

.menuIcon img {
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.type h3 {
  color: black !important;
}
hr {
  border: 1px solid black;
}
