.email {
  color: black;
}
hr {
  border: 1px solid black;
}

.mat-card {
  width: 80%;
  height: 130px;
  margin: 10px;
  border: 3px solid black;
}
.emailName i {
  font-size: 50px;
  margin-top: 10px;
}
