<!-- Add Engagement Start -->
<div class="engagement-padding">
    <div class="newEngagement m-auto w-75">
        <h1 *ngFor="let name of userName">Engagement Journey Of {{name.username}}</h1>
        <h1>A Big Title</h1>
        <p>Acceptance date: DD/MM/Y</p>
        <h2 class="ml-  sm-5 mb-0">Add Dela</h2>
        <h2><i class="fas fa-plus" (click)="manageTypes()"></i><span class="ml-3">Add Engagement Type</span></h2>
        <p class="joiningDate">Joining date: DD/MM/Y</p>
    </div>
</div>
 <!-- Add Engagement End -->