// Add Engagement css start
.newEngagement {
  display: inline;
  background-color: white;
  color: black !important;
}
.newEngagement h1{
  font-size: 48px;
}
.newEngagement p{
  font-weight: 400;
}
.newEngagement i{
  font-size: 48px;
  margin-top: 10px;
}
.joiningDate{
  margin-top: 30px;
}
.engagement-padding {
  padding: 60px;
}

// Add Engagement css end