<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="#">Document</a>
      <a mat-list-item id="engagement">Engagement</a> -->
      <div class="kt-section__content">
        <ngb-accordion #acc="ngbAccordion" id="engagement">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="card-header--title">Document</span>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="card-header--title">Engagement</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>
                  <a> Assign Engagement </a>
                </li>
                <li>
                  <a> Assign Engagement </a>
                </li>
                <li>
                  <a> Assign Engagement </a>
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="card-header--title">Reports</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>
                  <a>Engagement Reports </a>
                </li>
                <li>
                  <a> Candidate Reports </a>
                </li>
                <li>
                  <a> Offer Reports </a>
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="card-header--title">Settings</span>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>metronic</span>
      </mat-toolbar> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>