<kt-portlet>
	<kt-portlet-body>
		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1"
			data-ktwizard-state="step-first">
			<div class="kt-grid__item">
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12 p-2" style="padding-right:0">
						<iframe src="https://player.vimeo.com/video/328647430" class="embed-responsive-item"
							frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 p-2" style="padding-right:0">
						<iframe src="https://player.vimeo.com/video/328647430" class="embed-responsive-item"
							frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 p-2" style="padding-right:0">
						<iframe src="https://player.vimeo.com/video/328647430" class="embed-responsive-item"
							frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="p-2 pl-4" (click)="openDial()">
						<mat-card style="height:150px;width:280px;text-align: center;">
							<img src="./assets/media/plus.jpg" height="50px">
							<mat-card-content>
								Import Template
							</mat-card-content>
						</mat-card>
					</div>
				</div>

			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
